@use "../constants/constants.scss" as constants;

.navList {
  width: constants.$navBarWidth;
}

.main {
  display: flex;
  position: relative;
  top: constants.$appBarHeight;
  height: 100%;
  max-height: calc(100% - constants.$appBarHeight - (2*constants.$appPadding));
  width: 100%;
  max-width: calc(100% - (2*constants.$appPadding));
  overflow-y: auto;
  padding: constants.$appPadding;
  background-color: whitesmoke;
}
