@import "./globals.scss";

.appBar {
  display: none;
}

.navList {
  width: $navBarWidth;
}

.main {
  display: flex;
  position: relative;
  top: 0;
  left: $navBarWidth;
  height: 100%;
  max-height: calc(100vh - (2*$appPadding));
  width: 100%;
  max-width: calc(100vw - $navBarWidth - (2*$appPadding));
  padding: $appPadding;
}

@media screen and (max-width: $smallBP) {
  .appBar {
    display: block;
  }

  .main {
    display: flex;
    position: relative;
    top: $appBarHeight;
    left: 0;
    height: 100%;
    max-height: calc(100vh - $appBarHeight - (2*$appPadding));
    width: 100%;
    max-width: calc(100vw - (2*$appPadding));
    padding: $appPadding;
  }
}
