@import "./globals.scss";

.homeBox {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.gridBox {
  height: inherit;

  .gridCol {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
  }
}

.introBox {
  width: 100%;
  margin: 0 auto;
}

.nickPhoto {
  height: auto;
  max-height: 70vh;
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
}

.linksBox {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.link {
  display: flex;
  margin: 4px auto;
  align-items: center;
}

.linkText {
  margin-left: 4px;
}

@media screen and (min-width: $mediumBP) {
  .homeBox {
    height: 100%;
  }
}
